body {
	font-family: 'Scope One', serif;
	background-color: black;
	/*the green*/
	color: #e9f4e8; 
	min-width: 900px;
	display: flex;
	flex-direction: column;
}

.container {
	flex: 1 0 auto;
}

.header > h1 {
	text-align: center;
	margin-top: 35%;
	font-size: 90px;
	letter-spacing: 0.1em
}

.header > h3 {
	font-size: 40px;
	text-align: center;
	letter-spacing: 0.1em;
	padding-bottom: 100px;
	padding-top: 50px;
}

.header {
	height: 60vh;
	overflow: visible;

}

h3 {
	text-align: center;
}

nav {
	position:fixed;
	top:0px;
	width:100%; 
	height:50px; 
	background-color:#DDDDDD;
	color: #FFFFFF;
	z-index:9999;
	/*display: none;*/
}

/*-------------- about me section styles --------------------*/

.about-me {
	/*height: 675px;*/
	height: 700px;
	background-color: #e9f4e8;
	color: black;
	padding-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.about-me h3, .projects h3, .skills h3, .contact h3{
	font-size: 50px;
	text-align: center;
	letter-spacing: 0.1em;
	margin-top: 15px;
	margin-bottom: 30px;
}

.about-me-content {
	margin-top: 30px;
	margin-left: 30px;
	width: 60%;
	margin-right: 30px;
}

.about-me > .button-holder {
	margin-left: 48px;
	width: 100%;
	height: 30px;
}

.about-me > img {
	width: 30%;
	margin-top: auto;
	margin-bottom: auto;
/*	margin-right: auto;
	margin-left: auto;*/
	border-radius: 100%;
	margin-right: 30px;
}

.btn-dark {
	background-color: black;
	color: #e9f4e8;
	font-family: 'Scope One', serif;
	width: 120px;
	height: 45px;
	font-size: 20px;
	border-radius: 8px;
	letter-spacing: 0.1em;
	margin-right: 20px;
	margin-top: 20px;
}

/* ------------ photo div section styles ------------------------*/

.photo-div {
	height: 50px;
	width: 100%;
	overflow: auto;
}




/* ----------------- projects section styles ---------------------*/

.projects {
	/*height: 100vh;*/
	background-color: #e9f4e8;
	color: black;
	max-height: 1000px;
}

.all-projects {
	display: flex;
}

.projects h3, .contact h3 {
	padding-top: 30px;
}

.project-holder {
	width: 120vh;
	/*height: 50vh;*/
	display: flex;
	flex-direction: column;
	border: 3px solid black;
	border-radius: 20px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	height: auto;
	margin-bottom: 50px;
}

#carouselExampleIndicators {
	width: 90%;
	margin-left: 5%;
	margin-top: 15px;
}

.see-more {
	width: 180px;
}

h4 {
	padding-top: 15px;
	text-align: center;
	font-size: 28px;
}


.project-description {
	width: 90%;
	margin-left: 5%;
}

.project-description .button-holder {
	display: flex;
	justify-content: space-around;
	padding-bottom: 15px;
}


/*--------------- skills section ---------------------*/

.skills {
	height: 83vh;
	background-color: black;
	color: #e9f4e8;
	max-height: 850px;
}

.skill-holder {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 100px;

}

i {
	font-size: 100px;
	letter-spacing: 1em;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #e9f4e8;
	/*line-height: 1.4;*/
}

/* ---------------- contact -----------------------*/

.contact {
	background-color: #e9f4e8;
	color: black;
	height: 50vh;
	max-height: 1000px;
}

.contact-content {
	width: 60%;
	margin-left: 30px;
}

.contact p {
	font-size: 20px;
	text-align: center;
}

.contact a {
	color: black;
}

/*----------------- footer -------------------------*/

footer {
	/*margin-top: -50px;*/
	text-align: center;
	padding-top: 15px;
	position: sticky;
	flex-shrink: 0;
}

footer a {
	color:  #e9f4e8;
}